.colorBox{
    width:20vh;
    height:90%;
    border:1px solid #5A8F4F;
    border-radius:1.5vh;
    margin-left:2vh;
    
}
.colorBox:hover{
    box-shadow:0px 0px 10px 0px #7BF762;
    cursor: pointer;
}

.driveBox{
    width:20vh;
    height:50%;
    border:1px solid #5A8F4F;
    border-radius:1.5vh;
    margin-left:2vh;
}
.driveBox:hover{
    box-shadow:0px 0px 10px 0px #7BF762;
    cursor: pointer;
}

.Snow{
    width:45%;
    height:90%;
    background-color:white;
    margin-inline:5.5vh;
    margin-top:1.5vh;
    border-radius:1vh

}

.Volcano{
    width:45%;
    height:90%;
    background-color:#FF7A00;
    margin-inline:5.5vh;
    margin-top:1.5vh;
    border-radius:1vh
}

.Sky{
    width:45%;
    height:90%;
    background-color:#6BE4FF;
    margin-inline:5.5vh;
    margin-top:1.5vh;
    border-radius:1vh
}

.amount{
    font-size:1.7vh;
    color:#5A8F4F;
    text-align:center;
}

.info{
    font-size:1.7vh;
    color:#5A8F4F;
    text-align:center;
    margin-top:-2vh;
    line-height:4vh
}

.packageBox{
    width:20vh;
    height:25vh;
    border:1px solid #5A8F4F;
    border-radius: 1.5vh;
    margin-left: 2vh;
}
.packageBox:hover{
    box-shadow:0px 0px 10px 0px #7BF762;
    cursor: pointer;
}

.packageDetails{
    height: 63%;
    background-color:#1C3C16;
    border-radius:1.5vh;
    color:#5A8F4F
}

.packageDetailsBox{
    font-size:1.5vh;
    padding:1.5vh
}

.resultBox{
    height:38%; 
    border:1px solid #7BF762;
    border-radius:2vh;
    margin-top: 5vh;
}

.resultBoxDesign{
    background-color:#1C3C16;
    color:#7BF762;
    padding-left:2vh;
    width:100%;
    height:80%;
    border-top-left-radius:2vh;
    border-top-right-radius:2vh;
    
}

.resultBoxText{
    display:flex;
    align-items:center;
    justify-content:space-between; 
}

.totalGrid{
    border-top:1px solid #7BF762;
    width:100%;
    padding-left:2vh;
    height:20%;
    border-bottom-left-radius:2vh;
    border-bottom-right-radius:2vh;
    background-color:#1C3C16;
    color:#7BF762;
    
}

.totalInfo{
    width:30%;
    color:white;
    font-size:2.2vh;
}

.totalHeads{
    width:70%;
    font-size:2.5vh;
    line-height: 1vh;
}

.headings{
    letter-spacing: 2px;
    color: #7BF762;
    font-size: 2.5vh;
    letter-spacing: 1px;
}